<header>
  <div class="mini-navbar-wrap">
    <div class="logo-wrap">
      <p class="logo"><span class="logo">SoftUni Forum</span></p>
    </div>
    <div class="mini-navbar">
      <ul>
        <li>
          <a href="#" (click)="logInHandler()" *ngIf="!isLogin">Login</a>
        </li>
        <li>
          <a href="#">Register</a>
        </li>
        <li>
          <a href="#" (click)="logInHandler()" *ngIf="isLogin">
              <div>
                HELLO, {{ name }}
              </div>
            <a (click)="logOutHandler()">Logout</a>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <nav>
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Themes</a>
      </li>
      <li>
        <a href="#">New Theme</a>
      </li>
    </ul>
  </nav>
</header>
