<footer class="footer">
  <img  alt="logo" routerlink="/" tabindex="0" src="https://codexio.bg/assets/logo/logo-horizontal-dark.svg">
  <div class="bottom-links">

    <div class="links">
      <span>Contact us</span>
      <a href="mailto:info@codexio.bg"><i class="fas fa-envelope"></i>info@codexio.bg</a>
      <a href="tel:+359898788998"><i class="fa fa-phone"></i>+359898788998</a>
    </div>

    <div class="links">
      <span>Social links</span>
      <a href="https://www.facebook.com/CodexioLtd/"><i class="fab fa-facebook"></i></a>
      <a href="https://www.linkedin.com/company/codexio"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</footer>
