<form class="register" action="" method="post">
  <div class="container">
    <fieldset>
      <h2><span>Register Form</span></h2>
      <p class="field">
        <i class="fa fa-address-card" aria-hidden="true"></i>
        <input #userFName class="input-error" type="text" id=”fname” placeholder="First name">
      </p>
      <p class="field">
        <i class="fa fa-address-card" aria-hidden="true"></i>
        <input #userLName class="input-error" type="text" id=”lname” placeholder="Last name">
      </p>
      <p class="field">
        <i class="fa fa-address-card" aria-hidden="true"></i>
        <input #userEmail class="input-error" type="email" id=”email” placeholder="Email Address">
      </p>
      <p>Already have account?<a routerLink="/user/login">
        Login
      </a></p>
      <div class="container">
        <div class="center">
          <button>Register</button>
        </div>
      </div>
    </fieldset>
  </div>
</form>
