.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(rgb(47, 93, 170) 0%, rgb(116, 34, 102) 100%);
  padding: 5px 80px;
}

.header .logo {
  font-size: 25px;
  font-family: 'Sriracha', cursive;
  color: #000;
  text-decoration: none;
  margin-left: 30px;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(rgb(47, 93, 170) 0%, rgb(116, 34, 102) 100%);
  margin-right: 20px;
}

.nav-items a {
  text-decoration: none;
  color: #a1a1a1;
  padding: 35px 20px;
}

img {
  display: block;
  margin-left: 20px;
  width: 20%;
}
