<div class="card">
  <h3>{{ this.user.name }}</h3>
  <h4>{{ this.user.username }}</h4>
  <p class="title">{{ this.user.email }}</p>
  <p>{{ this.user.phone }}</p>
  <p>{{ this.user.company }}</p>
  <p>{{ this.user.website }}</p>

  <p><button *ngIf="(user.id + 1) < 10" [routerLink]="['/user/', (user.id + 1)]">Next User</button></p>
  <p><button *ngIf="(user.id - 1) >= 1" [routerLink]="['/user/', (user.id - 1)]">Prev User</button></p>
  <p><button routerLink="/user/list">Back</button></p>
</div>
