<form class="login" action="" method="post">
  <div class="container">
    <fieldset>
      <h2>
        <span>
          Login Form
        </span>
      </h2>
      <p class="field">
        <i class="fa fa-address-card" aria-hidden="true"></i>
        <input #userEmail class="input-error" type="email" id="email" placeholder="Email...">
      </p>
      <p class="field">
        <i class="fa fa-address-card" aria-hidden="true"></i>
        <input #password class="input-error" type="password" id="password" placeholder="Password...">
      </p>
      <p>Haven't account?<a routerLink="/user/register">
          Register
      </a></p>
      <div class="container">
        <div class="center">
          <button>Login</button>
        </div>
      </div>
    </fieldset>
  </div>
</form>
